{% raw %}
{%- comment -%} If this item has children, output the item, and then go get its children {%- endcomment -%}
{%- if this['is_parent'] -%}
<li {% if this['link_class'] %} class="{{this['link_class']}}" {%- endif -%}>
	<a style="cursor: pointer;" class="link-button-color-7" href="javascript:void(0);" {% if this['link_target'] %} target="{{this['link_target']}}" {% endif %} {% if
		this['link_name']=='Services.' and context.params.slug2=='aws' or context.location.href=='/services/sos' or
		context.location.href=='/services' %} class="fuchsia-text" {% endif %}><b>{{this['link_name']}}</b></a>
	{%- comment -%} Wrap children in <ul>, set the next level, and then get the children {%- endcomment -%}
		{% if _next_level == nil %}
		<ul class="dropdown-content no-list-style no-padding-left">
			{%- assign _next_level = _level | plus: 1 -%}
			{%- include 'modules/siteglide_menu/get/get_items', level: _next_level, parent_id: this['forced_id'],
			item_layout: 'item' -%}
		</ul>
		{% elsif _next_level != nil and _next_level > 1 %}
		<ul class="no-list-style no-padding-left" style="position: relative;">
			{%- assign _next_level = _level | plus: 1 -%}
			{%- include 'modules/siteglide_menu/get/get_items', level: _next_level, parent_id: this['forced_id'],
			item_layout: 'item' -%}
		</ul>
		{% endif %}
</li>
{%- comment -%} Else just output the item by itself {%- endcomment -%}
{%- else -%}
{% assign _next_level_temp = 0 %}
<li {% if this['link_class'] %} class="{{this['link_class']}}" {%- endif -%}>
	{% if _next_level %} {% assign _next_level_temp = 1 %} {% endif %}
	{% if access_allowed == true %}
		<a href="/members/current-committee" class="link-button-color-7"><b>Members Area</b></a>
	{% else %}
		<a href="{{this['link_url']}}" class="link-button-color-7
			{% if _level > 2 %} ps-5 {% endif %}
			{% if context.page.metadata.name == 'Home' and this['link_url'] == " /" %} border-bottom-green {% endif %} 
			{% if context.location.href==this['link_url'] and _next_level_temp==0 %} border-bottom-green {% if _next_level> 2 %} ps-5 {% endif %} {% endif %}
			{% if context.page.slug == 'sector' and this['link_name'] == 'Our Projects' %} border-bottom-green {% if _next_level > 2 %} ps-5 {% endif %} {% endif %}
			{% if context.page.slug == 'project' and this['link_name'] == 'Our Projects' %} border-bottom-green {% if _next_level > 2 %} ps-5 {% endif %} {% endif %}"
			{% if this['link_target'] %} target="{{this['link_target']}}"{% endif %}
			{% if _next_level_temp == 0 %} style="font-weight: 600" {% endif %}>{{this['link_name']}}</a>
	{% endif %}
</li>
{%- endif -%}
{% endraw %}